<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranking- Orizen66</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}

        <h1>Ranking de Usuários Engajados</h1>

        <div class="alert-punishment">
            <p><strong>Atenção :</strong> todo time de vendas esta recebendo uma punição no Hanckeamento, pela falta de comprometimento com valores da empresa, em breve apresento os critérios.</p>
        </div>
        <div class="alert-congratulations">
            <p><strong>Atenção :</strong> Equipe de conteúdo parabéns pelo video da Virginia</p>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Classificação</th>
                    <th>Nome do Usuário</th>
                    <th>Foto de perfil</th>
                    <th>Atividades</th>
                    <th>Dias Completados</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ranking %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name or 'N/A' }}</td>
                    <td>
                        {% if user.photo_url %}
                            <img src="{{ user.photo_url }}" alt="Profile Photo" width="50" />
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ user.activity or 'N/A' }}</td>
                    <td>{{ user.completions or 0 }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'footer.html' %}
    </div>
</body>
</html>
